<%= form_with(model: @chat, local: true, url: choose_index_or_edit) do |form| %>
 <% if @chat.errors.any? %>
  <div id="error_explanation">
    <h2><%= @chat.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @chat.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
<div class="form-group">
  <%= form.text_area :'content', class:'form-control', placeholder:'なんでもささやいてください' %>
  <%= form.submit 'つぶやく', class:'btn btn-primary' %>
</div>
<% end %>
