<h4>以下の内容で本当にささやいても良いですか？</h4>
<%= form_with(model: @chat, local: true) do |form| %>
    <%= form.hidden_field :content %>
    <h3><%= @chat.content %></h3>
    <%= form.submit 'しゃべる', class:'confirm-btn btn-primary' %>
    <%= form.submit 'だまる', name: 'back', class:'confirm-btn btn-info'%>
<% end %>
