<div class='container'>
<%= form_with(model: @chat, local: true, url: choose_index_or_edit) do |form| %>
    <%= render 'form' %>
  <% end %>
  <div class='main'>
    <h4>おしゃべり一覧</h4>
    <p><%= notice %></p>
    <table class='table table-striped'>
    <% @chats.each do |chat| %>
      <tr>
        <th><%= chat.content %></th>
      </tr>
      <tr>
        <td>
          <div class='operate-btns'>
            <%= link_to 'しゃべりなおす', edit_chat_path(chat.id), class:'operate-btn btn-primary' %>
            <%= link_to '発言を取り消す', chat_path(chat.id), method: :delete, data: {confirm: '本当に取り消しますか？'}, class:'operate-btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
