<!DOCTYPE html>
<html>
  <head>
    <title>Chatter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
      <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="">Chatter !</a>
            <ul class="nav navbar-nav">
              <li><%= link_to "TOP", chats_path %></li>
              <li><a href="">INFO</a></li>
            </ul>
          </div>
        </div>
      </nav>
    <%= yield %>
    </body>
  <div class="container-fluid">
    <div class="row">
      <footer class="footer col-md-12">
        <p>2020年04月 森田 祥平 制作</p>
      </footer>
    </div>
  </div>
</html>
